@model Vehicle
@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="col-12 col-md-6 p-2 border-right">
        <img src="@Model.SafeImage" class="img-fluid" />
    </div>
    <div class="col-12 col-md-6 p-2">
        <h2>@Model.Name</h2>
        <div>
            <a asp-route="brand" asp-route-name="@Model.Brand.Name.ToSafeUrl()" asp-route-id="@Model.BrandId">
                @Model.Brand.Name
            </a>
        </div>
        <div>
            @Model.Modul.Name /
            <a asp-route="category" asp-route-name="@Model.Modul.Name.ToSafeUrl()" asp-route-id="@Model.ModulId">
                @Model.Modul.Name
            </a>
        </div>
      
        <div class="p-2">
            
           
        </div>
        <hr />
        <div class="p-2">
            @Html.Raw(Model.Description)
        </div>
    </div>
</div>