@model Vehicle
@{
    ViewData["Title"] = Model.Name;
}

<div class="row">
    <div class="col-12 col-md-6 p-2 border-right">
        <img src="@Model.SafeImage" class="img-fluid" />
    </div>
    <div id="previewGallery" class="col-12 col-md-6 p-2 border-right">
        @foreach (var vehicleImage in Model.VehicleImages)
        {
            <img src="@vehicleImage.Image" width="120" height="120" class="p-2 border" />
        }
    </div>

    <div class="col-12 col-md-6 p-2">
        <h2>@Model.Name</h2>
        <div>
            <a asp-route="brand" asp-route-name="@Model.Brand.Name.ToSafeUrl()" asp-route-id="@Model.BrandId">
                @Model.Brand.Name
            </a>
        </div>
        <div>
            @Model.Modul.Name
            <a asp-route="Modul" asp-route-name="@Model.Modul.Name.ToSafeUrl()" asp-route-id="@Model.ModulId">

            </a>
        </div>
        <div style="height: 70px; overflow: hidden;">

            <div class="text-success h4">@Model.Price.ToString("c2") ₺</div>
        </div>

        <hr />
        <div class="p-2">
            @Html.Raw(Model.Description)
        </div>

        <div>
            @foreach (var portfolios in ViewBag.SelectedPortfolios as IEnumerable<Portfolio>)
            {
                <div>
                    <p>@portfolios.Name</p>
                </div>
            }
        </div>
    </div>

</div>