@model IEnumerable<MVCPerfectCarsData.Vehicle>

@{
    ViewData["Title"] = "İlanlar";
}



<p>
    <a asp-action="Create">
        <button class="btn btn-primary">Yeni Kayıt</button>

    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Görsel
            </th>

            <th>
                Ad
            </th>
            <th>
                Marka
            </th>
            <th>
                Model
            </th>
          
            <th>
                Fiyat
            </th>

            <th>
                Durum
            </th>
            <th>
                Tarih
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Image" width="50" height="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modul.Name)
                </td>
             
                <td>
                    <div class="text-success">
                    @item.Price.ToString("c2")
                    </div>
                </td>

                <td>
                    @if (item.Enabled)
                    {
                        <span class=" text-success">
                            <i class="fa fa-check"></i>
                        </span>
                    }
                    else
                    {
                        <span class=" text-danger">
                            <i class="fa fa-times"></i>
                        </span>
                    }
                </td>
                <td>
                    @item.DateOfCreation.ToShortDateString()
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">
                        <i class="fa fa-pen"></i>
                    </a> |

                    <a asp-action="Delete" asp-route-id="@item.Id">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <partial name="_RemoveConfirmationPartial" />
}